alias ssh-pi='ssh pi@192.168.1.128'
alias ssh-hpi-fs32='sudo ssh ssh-stud.hpi.uni-potsdam.de -l luc.prestin -L 5000:fs23:445'

alias nom='~/.bin/nom/nom.sh'
alias mensa='~/.bin/mensa/getMenue.sh'

alias please='sudo'

alias system-upgrade='yay -Syu
	sudo pacman -Syu'

alias pcloud='~/.bin/pcloud/pcloud'

alias godot='~/.bin/godot/Godot_v3.2.1-stable_x11.64'
alias itchio-butler='~/.bin/itchio-butler/butler'

alias thesis='~/Documents/ITSE/Bachelorarbeit/thesis.sh'
alias report='~/Documents/ITSE/Bachelorarbeit/report.sh'

alias open='xdg-open'

alias rails='bundle exec rails'
